# .gitignore

# -----------------
# Секретные файлы и окружение
# -----------------
# Ваш .env файл, содержащий секретные ключи (ОЧЕНЬ ВАЖНО!)
.env
# Каталог виртуального окружения Python
venv/
.venv/
env/

# -----------------
# Данные Django/Python
# -----------------
# Файлы базы данных SQLite
db.sqlite3
# Скомпилированные байт-код файлы Python
__pycache__/
*.pyc
# Статические файлы, собранные Django
/static/
# Медиа файлы, загруженные пользователями (постеры и т.п.)
/media/

# -----------------
# Файлы IDE (например, VS Code или PyCharm)
# -----------------
.vscode/
.idea/
*~