{% extends 'cinema/base.html' %}

{% block content %}
    
    <div class="d-flex justify-content-between align-items-center mb-4">
        
        <h1 class="mb-0">Афиша</h1>
        
        {% if user.is_superuser %}
        <a href="{% url 'movie_create' %}" class="btn btn-warning">
            ➕ Добавить новый фильм
        </a>
        {% endif %}
    </div>

    <div class="row">
        {% for movie in movies %}
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                {% if movie.poster %}
                    <img src="{{ movie.poster.url }}" class="card-img-top" alt="{{ movie.title }}" style="height: 300px; object-fit: cover;">
                {% else %}
                    <div class="bg-secondary text-white d-flex align-items-center justify-content-center" style="height: 300px;">
                        Нет постера
                    </div>
                {% endif %}
                
                <div class="card-body">
                    <h5 class="card-title">{{ movie.title }}</h5>
                    <p class="card-text text-truncate">{{ movie.description }}</p>
                    <p class="text-muted">Длительность: {{ movie.duration_minutes }} мин.</p>
                    <a href="{% url 'movie_detail' movie.id %}" class="btn btn-primary">Смотреть сеансы</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}